<div class="container-fluid top-visual">
	<div class="row">
		<div class="link-box col-md-6 col-sm-6">
			<div class="top">
				<%= link_to models_path do %>
				<div class="box">
					<p class="word"><strong>ヘアモデル</strong></p>
					<p class="link">をお探しの方はこちら</p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="link-box col-md-6 col-sm-6">
			<div class="top">
				<%= link_to hairdressers_path do %>
				<div class="box">
					<p class="word"><strong>美容師</strong></p>
					<p class="link">をお探しの方はこちら</p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
