/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

a:hover {
	text-decoration: none;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

header {
	border-bottom: 10px solid rgba(235, 153, 150, 0.8);
	background-color: #FFFFFF;
}

header ul {
	padding: 10px 30px 0 0;
}

.nav-menu {
	margin-left: 30px;
}


main {
	margin: 100px 0 50px 0;
}

.top-box {
	margin-top: 80px;
	margin-bottom: 130px;
}

.box1 {
	padding: 40px;
	margin-right: 125px;
	background-color: rgba(252, 224, 222, 0.5);
	border-radius: 20px;
	float: left;
}

.box2 {
	padding: 40px;
	margin-left: 125px;
	background-color: rgba(252, 224, 222, 0.5);
	border-radius: 20px;
	float: left;
}

.hairmo-box {
	padding: 50px 30px;
	background-color: rgba(255, 253, 245, 1);
	border-radius: 20px;
}

.hairdresser-box {
	padding: 50px 30px;
	background-color: rgba(255, 253, 245, 1);
	border-radius: 20px;
}

.word {
	font-size: 30px;
	margin-bottom: 20px;
}

.link {
	font-size: 20px;
	margin-left: 20px;
}

footer {
	margin-top: 50px;
	height: 50px;
	background-color: rgba(235, 153, 150, 0.5);
	text-align: center;
}

footer p {
	line-height: 50px;
}

.back {
	position: fixed;
	top: 80px;
	span {
		color: gray;
	}
}

// 美容師新規登録・ログインページ //
.shadow {
	background-color: rgba(230, 230, 230, 0.2);
	border-radius: 50px;
	box-shadow: 2px 2px 6px #a9a9a9;
	padding: 30px;
}

.sign-up-title {
	margin-bottom: 20px;
	text-align: center;
	h3 {
		display: inline-block;
		color: #EBC3C1;
		font-weight: bold;
	}
}

.sign-up-box {
	width: 500px;
	margin: 0 auto;
}

.sign-up-image {
	margin-bottom: 15px;
	text-align: center;
	.image-field {
		display: inline-block;
		.img-prev {
			border-radius: 50%;
		}
	}
}

.sign-up-field {
	margin-bottom: 15px;
	.field {
		width: 500px;
	}
	.comment {
		width: 500px;
		height: 100px;
	}
}

.sign-up-select {
	width: 300px;
}

.menu {
	ul {
		list-style-type: none
	}
	li {
		float: left;
		margin:  0  30px 0 20px;
	}
}

.sign-up-btn {
	margin-top: 50px;
	text-align: center;
	.actions {
		display: inline-block;
		.action-btn {
			padding: 10px;
			background-color: rgba(252, 224, 222, 1);
			border-radius: 8px;
			border-style: none;
			color: #FFFFFF;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.signin {
	margin-top: 30px;
	text-align: center;
	.sign-btn {
		color: #EB9996;
		font-weight: bold;
	}
}

.signup {
	text-align: center;
	.sign-btn {
		color: #EB9996;
		font-weight: bold;
	}
}

// 美容師一覧ページ //
.search {
	padding: 20px;
	margin-bottom: 20px;
	background-color: rgba(252, 224, 222, 0.1);
	border-radius: 8px;
	box-shadow: inset 0 0 15px 8px rgba(252, 224, 222, 0.8);
	p {
		font-size: 18px;
		color: #EB9996;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.select {
		margin-left: 50px;
		margin-bottom: 5px;
		.content {
		width: 100px;
		text-align: left;
		}
		.choice {
			width: 100px;
			margin-right: 20px;
		}
		.check {
			margin-right: 20px;
		}
	}
	.search-btn {
		text-align: right;
		.btn {
			background-color: #EB9996;
			color: #FFFFFF;
			font-weight: bold;
			padding: 5px;
		}
	}
}

.index-box {
	width: 600px;
	display: inline-block;
	background-color: rgba(252, 224, 222, 0.3);
	border: 3px solid rgb(252, 224, 222);
	border-radius: 30px;
	padding: 10px 20px;
	margin: 15px 0 15px 50px;
	float: left;
	list-style-type: none;
	.image-box {
		width: 150px;
		height: 150px;
		margin: 50px 20px 0 0;
		border-radius: 50%;
		float: left;
	}
	.profile-box {
		display: inline-block;
		font-size: 16px;
		.profile-list {
		margin-left: 30px;
		list-style-type: none;
			.profile-item {
				padding-right: 25px;
			}
		}
		.collect {
			display: inline-block;
			margin-top: 5px;
			margin-left: 30px;
			list-style-type: none;
			font-size: 14px;
			.type {
				margin-left: 5px;
				width: 45px;
				text-align: center;
				border-radius: 8px;
				margin-left: 5px;
				background-color: #EB9996;
				color: #FFFFFF;
			}
			li {
				float: left;
				list-style-type: none;
				margin-left: 15px;
			}
		}
	}
}

.index-box:hover {
	box-shadow: 0 0 15px 8px rgba(252, 224, 222, 0.8);
}

// 美容師詳細ページ //
.img-box {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	.img {
			display: inline-block;
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
		.pro-btn {
			display: inline-block;
			width: 180px;
			height: 50px;
			background-color: rgb(252, 224, 222);
			border-radius: 20px;
			margin-top: 15px;
			p {
				color: #FFFFFF;
				font-weight: bold;
				font-size: 16px;
				line-height: 50px;
			}
		}
}

.pro-box {
	font-size: 18px;
	margin-top: 30px;
	.pro-list {
			margin-bottom: 15px;
			.pro-item {
				padding-right: 20px;
			}
	}
	.comment-box {
		margin-top: 30px;
		.comment {
			margin-left: 20px;
			font-size: 14px;
		}
	}
}

.colle-box {
	font-size: 14px;
	margin-top: 30px;
	.type-box {
		list-style-type: none;
		.type {
			width: 45px;
			text-align: center;
			border-radius: 8px;
			margin-left: 5px;
			background-color: #EB9996;
			color: #FFFFFF;
		}
		li {
			float: left;
			margin-left: 20px;
		}
	}
}

.mymanu {
	height: 50px;
}

// ヘアカタログ投稿・編集ページ //
.haircatalog-image {
	width: 300px;
	height: 330px;
	margin: 0 auto;
}

.tag-box {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	.check {
		margin-left: 20px;
	}
}

.treatment-box {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	.text {
		width: 380px;
		height: 100px;
	}
}

.btn-box {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	.btn {
		padding: 10px 30px;
		background-color: rgba(252, 224, 222, 1);
		border-radius: 8px;
		border-style: none;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 20px;
	}
}

// ヘアカタログ一覧 //
.haircatalog {
	margin-top: 50px;
	.haircatalog-header {
		width: 250px;
		margin: 0 auto;
		span {
			background-color: #9E97A3;
			border-radius: 8px;
			margin-bottom: 3px;
			padding: 3px;
			color: #FFFFFF;
		}
	}
	.haircatalog-image {
		padding-top: 3px;
		width: 250px;
		height: 250px;
		margin: 0 auto;
		margin-bottom: 3px;
	}
	.haircatalog-footer {
		width: 250px;
		margin: 0 auto;
		text-align: right;
		span {
			margin-right: 5px;
		}
	}
}

// ヘアカタログ詳細ページ //
.catalog {
	.catalog-header {
		width: 400px;
		margin: 0 auto;
		span {
			background-color: #9E97A3;
			border-radius: 8px;
			margin-bottom: 3px;
			padding: 3px;
			color: #FFFFFF;
		}
	}
	.catalog-image {
		padding-top: 3px;
		width: 400px;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 3px;
	}
	.catalog-footer {
		width: 400px;
		margin: 0 auto;
		text-align: right;
		span {
			margin-right: 5px;
		}
	}
	.treatment-contents {
		width: 400px;
		margin: 0 auto;
		padding: 20px 10px;
		.explan {
			font-weight: bold;
		}
		.explan-text {
			padding: 5px;
		}
	}
}

.catalog-btn {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	.btn {
		padding: 10px 30px;
		background-color: rgba(252, 224, 222, 1);
		border-radius: 8px;
		border-style: none;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 20px;
		margin: 0 10px;
	}
}

// ヘアモ一覧ページ //
.model-search {
	padding: 20px;
	margin-bottom: 20px;
	background-color: rgba(211, 204, 222, 0.1);
	border-radius: 8px;
	box-shadow: inset 0 0 15px 8px rgba(211, 204, 222, 0.8);
	p {
		font-size: 18px;
		color: rgb(200, 180, 210);
		font-weight: bold;
		margin-bottom: 15px;
	}
	.select {
		text-align: center;
		margin-bottom: 10px;
		.content {
		width: 100px;
		text-align: left;
		}
		.choice {
			width: 150px;
			margin-right: 20px;
		}
	}
	.search-btn {
		text-align: right;
		.btn {
			background-color: rgb(200, 180, 210);
			color: #FFFFFF;
			font-weight: bold;
			padding: 5px;
		}
	}
}

.model-index-box {
	width: 500px;
	display: inline-block;
	background-color: rgba(211, 204, 222, 0.3);
	border: 3px solid rgb(211, 204, 222);
	border-radius: 30px;
	padding: 10px 20px;
	margin: 15px 0 15px 90px;
	float: left;
	list-style-type: none;
	.image-box {
		width: 150px;
		height: 150px;
		margin: 5px 20px 0 0;
		border-radius: 50%;
		float: left;
	}
	.profile-box {
		display: inline-block;
		font-size: 16px;
		.profile-list {
		margin-left: 30px;
		list-style-type: none;
			.profile-item {
				padding-right: 25px;
			}
		}
		.collect {
			display: inline-block;
			margin-top: 5px;
			margin-left: 30px;
			list-style-type: none;
			font-size: 14px;
			.type {
				margin-left: 5px;
				width: 45px;
				text-align: center;
				border-radius: 8px;
				margin-left: 5px;
				background-color: #EB9996;
				color: #FFFFFF;
			}
			li {
				float: left;
				list-style-type: none;
				margin-left: 15px;
			}
		}
	}
}

.model-index-box:hover {
	box-shadow: 0 0 15px 8px rgba(211, 204, 222, 0.8);
}

// マイページ //
.tab-box {
	margin-top: 50px;
}

#tab-menu {
	margin: 0 200px 50px 200px;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 25%;
  font-size: 16px;
  font-weight: bold;
}

#tab-menu a {
  color: gray;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #FFFFFF;
  border-bottom: none;
  border: 1px solid rgba(158, 151, 163, 0.3);
  border-radius: 8px;
}

#tab-menu a:hover {
  	border: 1px solid rgba(158, 151, 163, 0.8);
  	border-radius: 8px;
  }

#tab-menu .active {
  background: rgb(158, 151, 163);
  border: 1px solid rgb(158, 151, 163);
  border-radius: 8px;
  color: #FFFFFF;
}

#tab-menu1 {
	margin: 0 200px 50px 200px;
	li {
	  float: left;
	  list-style-type: none;
	  width: 20%;
	  font-size: 16px;
	  font-weight: bold;
	}
	a {
	  color: gray;
	  text-decoration: none;
	  display: block;
	  padding: 20px;
	  text-align: center;
	  background: #FFFFFF;
	  border-bottom: none;
	  border: 1px solid rgba(158, 151, 163, 0.3);
	  border-radius: 8px;
	}
	a:hover {
  	  border: 1px solid rgba(158, 151, 163, 0.8);
  	  border-radius: 8px;
    }
    .active {
	  background: rgb(158, 151, 163);
	  border: 1px solid rgb(158, 151, 163);
	  border-radius: 8px;
	  color: #FFFFFF;
	}
}

// ルーム一覧 //
.room-box {
	height: 100px;
	margin-bottom: 20px;
	list-style: none;
	.room-image {
		line-height: 100px;
		padding: 0 50px 0 30px;
		float: left;
		.image-box {
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
	}
	.room-name {
		line-height: 100px;
		font-size: 16px;
		padding-right: 50px;
		float: left;
	}
}

.room-box:hover {
	background-color: rgba(230, 230, 230, 0.5);
}

// ルーム詳細ページ //
.DM {
	height: 500px;
	margin-bottom: 150px;
}
.message-box {
	margin: 20px 0;
	.image {
		float: left;
		margin-right: 15px;
		.image-box {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
	.message {
		width: 400px;
		float: left;
		margin-top: 10px;
		.text {
			display: inline-block;
			background-color: rgba(211, 204, 222, 1);
			border-style: 1px solid rgba(211, 204, 222, 1);
			border-radius: 10px;
			color: gray;
			padding: 20px;
			}
		}
		.time {
			margin-left: 10px;
			color: gray;
			font-size: 10px;
		}
}

.message-box {
	margin: 20px 0;
	.message-right {
		width: 400px;
		margin-left: auto;
		text-align: right;
		.text {
			display: inline-block;
			background-color: rgba(252, 224, 222, 1);
			border-style: 1px solid rgba(252, 224, 222, 1);
			border-radius: 10px;
			color: gray;
			padding: 20px;
			text-align: left;
		}
	}
		.time {
			margin-right: 10px;
			color: gray;
			font-size: 10px;
		}
}

.message-form {
	position: fixed;
	bottom: 50px;
	z-index: 1;
	.text-area {
		width: 400px;
		height: 100px;
		border-radius: 8px;
	}
	.message-btn {
		padding: 5px;
		background-color: #EB9996;
		color: #FFFFFF;
		border-radius: 10px;
	}
}

