<div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-5">
	<div class="room-index">
		<% @hairdresser.rooms.each do |room| %>
			<%= link_to room_path(room.id) do %>
				<ul class="room-box clearfix">
					<li class="room-image"><%= attachment_image_tag(room.model, :hairmodel_image, fallback: 'no images.png', size: '80x80', class: "image-box") %></li>
					<li class="room-name"><%= room.model.hairmodel_name %></li>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>